<form [formGroup]="form" (ngSubmit)="submitPayment()">
  <fieldset>
    <legend>💳 Payment Info</legend>
    <label>Total Amount</label>
    <input formControlName="totalAmount" type="number" />

    <label>Currency</label>
    <select formControlName="currencyCode">
      <option value="USD">USD</option>
      <option value="AWG">AWG</option>
    </select>
  </fieldset>

  <fieldset>
    <legend>🧾 Card Info</legend>
    <input formControlName="cardPan" placeholder="Card Number" />
    <input formControlName="cardCvv" placeholder="CVV" />
    <input formControlName="cardExpiration" placeholder="MM/YY" />
    <input formControlName="cardholderName" placeholder="Cardholder Name" />
  </fieldset>

  <fieldset>
    <legend>🏠 Billing Address</legend>
    <input formControlName="firstName" placeholder="First Name" />
    <input formControlName="lastName" placeholder="Last Name" />
    <input formControlName="line1" placeholder="Address Line 1" />
    <input formControlName="line2" placeholder="Address Line 2" />
    <input formControlName="city" placeholder="City" />
    <input formControlName="state" placeholder="State" />
    <input formControlName="postalCode" placeholder="Postal Code" />
    <input formControlName="countryCode" placeholder="Country Code" />
    <input formControlName="emailAddress" placeholder="Email" />
    <input formControlName="phoneNumber" placeholder="Phone" />
  </fieldset>

  <button type="submit" [disabled]="form.invalid">💰 Submit Payment</button>
</form>
